* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url(imagens/body.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.home {
    background-image: url(imagens/home2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 2000px;
    height: 1000px;
}

/* .navbar {
}  */