* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
}

body {
    margin: 0 auto;
    padding: 50px 80px;
    background-image: url(imagens/body.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

#card {
    width: 75%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
}

<<<<<<< HEAD
/* .logo {

} */

=======
>>>>>>> 369dd96b739abf2dc8b417a51deb0a42c1f39d12
.menu {
    list-style: none;
    font-size: 1.3em;
    display: inline-flex;
    align-items: center; 
}

.menu li {
    justify-content: left;
    display: inline;
}

.menu li a {
    display: block;
    text-decoration: none;
    padding-right: 50px;
}

.menu li a:hover {
    color: #D90416;
    text-decoration: underline;
}

.logo {
    width: 350px;
    padding: 0;
    float: right;
}

#secao1{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.main {
    justify-content: left;
}

.home {
    float: right;
}