* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


body {
    padding: 50px;
    background-image: url(imagens/body.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
}

.navbar {
    padding: 10px 100px;
    display: flex;
    width: 100%;
} 

.menu {
    list-style: none;
    font-size: 25px;
    display: inline-flex;
}

.menu li {
    justify-content: left;
    padding-right: 25px;
}

.menu li a {
    display: inline;
    text-decoration: none;
}

.menu li a:hover {
    color: #D90416;
}

.logo {
    float: right;
    padding-right: 250px;
}

#secao1{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.main {
    justify-content: left;
}

.home {
    float: right;
}